{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}
{% block content %}
{% include 'navbar.html' %}
{% if form.errors %}
<center>
    <span class="errors">{{form.non_field_errors}}</span>
</center>
{% endif %}
<div class="form-wrapper">
    <h1>Sign up</h1> 
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="submit">
            <input type="submit" value="SIGN UP">
        </div>
    </form> 
    <div class="lost-password">
        <a href="{% url 'users:login' %}">Already have an account?</a>
    </div>
</div>

{% endblock %}