<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <title>{% block title %}{% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/bubbles.css' %}">
    <link rel="stylesheet" href="{% static 'css/sliding.css' %}">
    {% block css %}{% endblock css%}
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <div class="message {{message.tags}}">{{message}}</div>
    {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
{% block js %}
{% endblock js %}
</html>