
    <div class="footer">
        <div class="footer_wrapper">
            <div class="info">
                <ul>
                    <h3>About Us</h3>
                    
                    <li><a href="#">About ScholarsBank</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="contacts">
                <ul>
                    <h3>Contact</h3>
                    
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Telephone</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
            <div class="services">
                <ul>
                    <h3>Services</h3>
                    <li><a href="#">Adverts</a></li>
                    <li><a href="#">External Services</a></li>
                    <li><a href="#">Disclaimer</a></li>
                </ul>
            </div>
            
        </div>
        <!-- <p class="footnote">
            Designed with <span class="heart">❤</span> by Fawaz
        </p> -->
    </div>
    