{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/adverts.css' %}">
{% endblock css %}
{% block content %}
{% include 'navbar.html' %}
<section class="adverts">
    <center><h2>Shoes</h2></center>
    <span class="scroll-left"><span></span></span>
    <div class="adverts_wrapper">
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
    </div>
    <span class="scroll-right"><span></span></span>
</section>
<section class="adverts">
    <center><h2>Accessories</h2></center>
    <span class="scroll-left2 scroll-left"><span></span></span>
    <div class="adverts_wrapper2 adverts_wrapper">
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
    </div>
    <span class="scroll-right2 scroll-right"><span></span></span>
</section>

<section class="adverts">
    <center><h2>Gadgets</h2></center>
    <span class="scroll-left1 scroll-left"><span></span></span>
    <div class="adverts_wrapper1 adverts_wrapper" >
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
        <div class="advert">
            <img src="{% static 'images/advert (1).jpg' %}" alt="advert">
            <div class="overlay">
                <span class="title">Title</span>
                <span class="price">&#8358;5,000.00</span>
            </div>
        </div>
    </div>
    <span class="scroll-right1 scroll-right"><span></span></span>
</section>
<style>
    nav ul li a:not(.login_btn_cta){
        color:rgb(165, 111, 12);
    }
    nav ul li .children li a{color:#fff;}
    .mobile_big{z-index:15;}
    .backdrop{z-index:10;}
    #nav-icon2{z-index:11;}
</style>
<script src="{% static 'js/admin_dash.js' %}"></script>

{% endblock %}
